In [6]:
import pandas as pd
import os

file=f"./city.list.json"

df = pd.read_json(file)

df.head()

     id           name state country                                 coord
0   833  Ḩeşār-e Sefīd            IR  {'lon': 47.159401, 'lat': 34.330502}
1  2960   ‘Ayn Ḩalāqīm            SY  {'lon': 36.321911, 'lat': 34.940079}
2  3245         Taglag            IR   {'lon': 44.98333, 'lat': 38.450001}
3  3530       Qabāghlū            IR  {'lon': 46.168499, 'lat': 36.173302}
4  5174        ‘Arīqah            SY   {'lon': 36.48336, 'lat': 32.889809}

In [7]:
from urllib.parse import urlparse
from urllib.parse import quote
c=0
l=[]
for j in df.iterrows():
    # c+=1
    # if c==5:
    #     break
    if (j[1]['country']=='US'):
        v = (j[1]['id'],j[1]['name'],quote(j[1]['name']))
        l.append(v)

In [8]:
import json

dict_list = {}

for t in l:
    dict_list[t[0]]={'name': t[1], 'url': t[2]}


my_json = json.dumps(dict_list)

with open('city_names.min.json','w') as f:
    f.write(my_json)

In [9]:

dict_list = []

for t in l:
    dict_list.append(t[1])

my_json = json.dumps(dict_list)
with open('city_names.just.names.min.json','w') as f:
    f.write(my_json)